E2E_BACKEND_URL=http://127.0.0.1:8000
E2E_SUPABASE_URL=https://xgvzsszzmlenkzyjtyyf.supabase.co
E2E_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhndnpzc3p6bWxlbmt6eWp0eXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTMwODgsImV4cCI6MjA5NDY4OTA4OH0.cR_fvA8tsTWO53RwLoo4aQKuSOXW5fvNVW_3DC98e-Y
E2E_EMAIL=brewway.e2e@test.com
E2E_PASSWORD=1234
E2E_PRODUCT_ID=856728a7-24b1-4cc1-90bc-961559245cdf
# Optional
E2E_PRODUCT_NAME=E2E Americano
E2E_UNIT_PRICE=60
E2E_UNIT_COST=27
