SUPABASE_URL=https://xgvzsszzmlenkzyjtyyf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_qMGUigQf1k1fCt2wWN9Erw_gtrZfk70
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhndnpzc3p6bWxlbmt6eWp0eXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTMwODgsImV4cCI6MjA5NDY4OTA4OH0.cR_fvA8tsTWO53RwLoo4aQKuSOXW5fvNVW_3DC98e-Y
DEFAULT_STORE_ID=348544d2-9a2c-4ba4-8875-bc106fed752e
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=
LIFF_ID=
APP_ENV=.env
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://127.0.0.1:8000